// 小号字体
@fontSizeSmall: 24px;
// 中号字体
@fontSizeMedium: 30px;
// 大号字体
@fontSizeLarge: 36px;
// 大大号字体
@fontSizeBig: 38px;
// 导航栏的高度
@navToolBarHeight: 130px;
// 导航栏的高度
@navToolBarPaddingBottom: 50px;
//顶部导航的高度
@navHeadBarHeght: 90px;
// 页面进入时的过度事件
@enterPageTime: 0.3s;
@leavePageTime: 0.5s;
@enterPageTimeFade: 0.3s;
@leavePageTimeFade: 0.3s;
@transtionPageEffect: ease-in;
